<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quest, "質問" %>
    <%= form.text_field :quest, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :answer, "答え" %>
    <%= form.text_area :answer, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :rate, "評価" %>
    <%= form.number_field :rate, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.radio_button :undisplay_switch, "display" %>
    <%= form.label :display, "表示" %>

    <%= form.radio_button :undisplay_switch, "undisplay" %>
    <%= form.label :undisplay, "非表示" %>
  </div>

  <div class="actions">
    <%= form.submit "完了", class: " btn btn-success form-control", style: "color: #fff;" %>
  </div>
<% end %>
