<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <p id="notice"><%= notice %></p>

      <h1>質問一覧</h1>
      <%= page_entries_info @questions %>
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>質問</th>
            <th>評価</th>
            <th>表示/非表示</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% num = 0 %>
          <% @questions.each do |question| %>
            <tr>
              <td><%= num+=1 %></td>
              <td><%= link_to question.quest, question_path(question) %></td>
              <td><%= question.rate %></td>
              <td><%= question.undisplay_switch_i18n %></td>
              <td><%= link_to '詳細', question %></td>
              <td><%= link_to '編集', edit_question_path(question) %></td>
              <td><%= link_to '削除', question, method: :delete, data: { confirm: '本当に削除してもよろしいですか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @questions %>
      <br>

      <%= link_to '質問を登録する', new_question_path, class: "btn btn-success form-control", style: "color: #fff;" %>
    </div>
  </div>
</div>
